{% extends "chat/base.html" %}


<html>

	<!--Coded With Love By Mutiullah Samim-->
{% block container %}
	<body>
		<div class="container-fluid h-100">
			<div class="row justify-content-center h-100">
				<div class="col-md-4 col-xl-3 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
					<div class="card-header">
						<div class="input-group">
              {%  include 'chat/include/search.html' %}
						</div>
					</div>
					<div class="card-body contacts_body" id="chatListPagination">
						<ui class="contacts" id="paginationContact" data-href="{% url 'chat:chat_list_user' %}">

						</ui>
					</div>
					<div class="card-footer"></div>
				</div></div>
				<div class="col-md-8 col-xl-6 chat">
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
                {%  include 'chat/include/user_info.html' %}
								</div>
								<div class="video_cam">
                  {%  include 'chat/include/video_cam.html' %}
								</div>
							</div>
							<span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
							<div class="action_menu">
								<ul>
                {%  include 'chat/include/actions.html' %}
								</ul>
							</div>
						</div>
						<div class="card-body msg_card_body" >
             {%  include 'chat/include/messages_chat.html' %}
						</div>
						<div class="card-footer">
							<div class="input-group">
              {%  include 'chat/include/type_message.html' %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock container %}



	</body>
</html><br><br><br><br>

{#{% block script %}#}
{#{% endblock script %}#}
